doctype
html(lang='en')
    head
        meta(charset='utf-8')
        block scripts
        block styles
        block meta
    body
        header
            block header
        nav
            block nav
        main
            block main
        footer
            block footer
        block body_end
