extends base.pug

block scripts
    script(src="index.js")
block styles
    link(rel="stylesheet" href="main.css")
block header
    h1.text-center Phisherman
block main
    div.text-center
        span#url-text.font-size-small.text-secondary
    div#dialogs            

block footer
    div.text-right.font-size-small
        button.settings-btn.link-primary.border-0.bg-transparent.float-end Settings
