extends base.pug

block styles
    link(rel="stylesheet" href="phishing.css")
block main
    div.h-100.d-flex.flex-column.align-items-center.justify-content-center
        h1.display-1.text-warning Suspicious site
        h1 Blocked by Phisherman
        div.text-center The page you attempted to navigate to was detected to be suspicious. Open the Phisherman popup for more details.
        div.text-secondary
            small See Phisherman settings to change or disable this page.            
