README.pdf
chrome-extension/node_modules
chrome-extension/dist/*
!chrome-extension/dist/manifest.json
target/
*.sqlite
.project

UI\frontend\node_modules
UI\backend\node_modules
UI\backend\node_modules\utils.js


UI/frontend/node_modules
UI/backend/node_modules
UI/backend/node_modules/utils.js
server/node_modules

