doctype
html(lang='en')
    head
        meta(charset='utf-8')
        block scripts
        block styles
        title=title
    body
        header
            block header
        nav
            block nav
        main
            block main
        footer
            block footer
