@use "base";

html, body {
    height: initial !important;
    @extend .p-1;
}

body {
    width: 250px !important;
}

.bi {
    display: inline-block;
    vertical-align: -0.125em;
}

a {
    text-decoration: none;
}

#settings-btn:hover, a:hover {
    text-decoration: underline;
}

#dialogs div {
    @extend .text-center;
}
